<div class="html">
<div class="head">
  <title>Store</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</div>
  <div class="body">

<div class="header">
  <h1>Singularity Store</h1>
  <button id="cart-button" routerLink = "/cart" routerLinkActive="active">Cart</button>
</div>
<div class = "display">
  <app-product-list></app-product-list>
</div>
  </div>
</div>

<router-outlet></router-outlet>
