<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=DESKTOP-QSLMK25\SQLEXPRESS;Initial Catalog=Video_Games;Integrated Security=True"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="selectParent" value="SELECT * FROM Shop"/>
    <add key ="ParentId" value="Shop_id"/>
    <add key ="ChildId" value="Smid"/>
    <add key="TableNameParent" value ="Shop"/>
    <add key="TableNameChildren" value ="ShopManager"/>
    <add key="NumberOfColumnsChildren" value = "2"/>
    <add key="ColumnNamesChildren" value="Name,Shop_id"/>
    <add key="ColumnNamesParameters" value="@name,@shop_id"/>
    <add key="UpdateQuerry" value="UPDATE ShopManager SET Name=@name, Shop_id=@shop_id WHERE Smid=@id"/>
  </appSettings>

  <appSettings>
    <add key="selectParent" value="SELECT * FROM Shelf"/>
    <add key ="ParentId" value="Shelf_Id"/>
    <add key ="ChildId" value="Item_Id"/>
    <add key="TableNameParent" value ="Shelf"/>
    <add key="TableNameChildren" value ="Item"/>
    <add key="NumberOfColumnsChildren" value = "2"/>
    <add key="ColumnNamesChildren" value="Name,shelf_id"/>
    <add key="ColumnNamesParameters" value="@name,@shelf_id"/>
    <add key="UpdateQuerry" value="UPDATE Shelf SET Name=@name, shelf_id=@shelf_id WHERE Item_Id=@id"/>
  </appSettings>

</configuration>